## Title Of The Notebook

Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## List Data Science Languages
Order List

Python
R
SQL

## List Data Science Libraries
Order List

In [ ]:
TensorFlow
NumPy
ScPy
Panas
Matpotlib
Keras
SciKit-Learn
PyTorch.

## Table For Data Science Tools

|Data Science Tools|
|---|
|Apache Spark|
|Matlab|
|Tableau|

## Create Arithmetic Expression Examples

In [26]:
x = 5
y = 10

In [27]:
print(x+y)

15

In [28]:
x = 7
y = 6

In [29]:
print(x-y)

1

## Multiply And Add Numbers

In [30]:
x = 3
y = 4
z = 5

In [31]:
print((x*y)+z)

17

## Convert Minutes To Hours

In [32]:
minutes = 200
hours = minutes / 60

In [33]:
print(hours)

3.3333333333333335

## Objectives

* List popular programming languages for Data Science
* Understand the basics of Jupyter Notebook and its interface
* Practice creating visualizations with Matplotlib and Seaborn
* Build predictive models using scikit-learn
* Explore data analysis techniques using Python libraries such as NumPy, Pandas, and Matplotlib

##  Author's Name

My name is [Mukesh Jaryal]